<footer>
  <small id="footer-text">
    <a href="{{ site.source_url }} ">
      &lt;&gt; source
    </a>
  </small>

  <hr id="footer-divider">

  <div id="social-links">
    <a href="{{ site.github_url }} ">
      <span class="github-link" title="GitHub"></span>
    </a>
    <a href="{{ site.twitter_url }} ">
      <span class="twitter-link" title="Twitter"></span>
    </a>
    <a href="{{ site.linkedin_url }} ">
      <span class="linkedin-link" title="LinkedIn"></span>
    </a>
    <a href="{{ site.mixcloud_url }} ">
      <span class="mixcloud-link" title="Mixcloud"></span>
    </a>
    <a href="{{ site.instagram_url }} ">
      <span class="instagram-link" title="Instagram"></span>
    </a>
  </div>
</footer>
