<footer>
    <small id="footer-text">
        <a href="http://github.com/felipead/felipead.github.com">
            &lt;&gt; source code
        </a>
    </small>

    <hr id="footer-divider">

    <div id="social-links">
        <a href="{{ site.github_url }} ">
            <span class="github-link" title="GitHub"></span>
        </a>
        <a href="{{ site.soundcloud_url }} ">
            <span class="soundcloud-link" title="SoundCloud"></span>
        </a>
        <a href="{{ site.twitter_url }} ">
            <span class="twitter-link" title="Twitter"></span>
        </a>
        <a href="{{ site.tumblr_url }} ">
            <span class="tumblr-link" title="Tumblr"></span>
        </a>
        <a href="{{ site.linkedin_url }} ">
            <span class="linkedin-link" title="LinkedIn"></span>
        </a>
        <a href="{{ site.instagram_url }} ">
            <span class="instagram-link" title="Instagram"></span>
        </a>
    </div>
</footer>