<footer>
    <small id="footer-text">
        <a href="http://github.com/felipead/felipead.github.com">&lt;source code&gt;</a>
    </small>

    <div id="social-links">
        <a href="{{ site.github_url }} ">
            <span class="github-link"></span>
        </a>
        <a href="{{ site.soundcloud_url }} ">
            <span class="soundcloud-link"></span>
        </a>
        <a href="{{ site.twitter_url }} ">
            <span class="twitter-link"></span>
        </a>
        <a href="{{ site.tumblr_url }} ">
            <span class="tumblr-link"></span>
        </a>
        <a href="{{ site.linkedin_url }} ">
            <span class="linkedin-link"></span>
        </a>
        <a href="{{ site.instagram_url }} ">
            <span class="instagram-link"></span>
        </a>
    </div>
</footer>