<header>
    <div class="container">
        <h5 class="logo"><a href="/">Felipe Dornelas</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "about" %}
                    <li><a href="/" class="active">About</a></li>
                {% else %}
                    <li><a href="/">About</a></li>
                {% endif %}

                {% if page.nav == "blog" %}
                    <li><a href="/blog" class="active">Blog</a></li>
                {% else %}
                    <li><a href="/blog">Blog</a></li>
                {% endif %}
                
                {% if page.nav == "projects" %}
                    <li><a href="/projects" class="active">Projects</a></li>
                {% else %}
                    <li><a href="/projects">Projects</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
    </div>
</header>