
$one-third-grid-columns: ($grid-columns/3);
$two-thirds-grid-columns: (2*$grid-columns/3);

footer {

    @include span-columns($grid-columns);
    @include media($medium-screen-up) {
        @include row(table);
    }
}

#footer-text {

    @include display(flex);
    @include align-items(center);

    @include media($medium-screen-up) {
        @include span-columns($one-third-grid-columns);
        @include justify-content(flex-start);
        text-align: left;
    }
    @include media($small-screen-down) {
        @include span-columns($grid-columns);
        @include justify-content(center);
        text-align: center;
    }

    font-family: $monospace-font-family;
    a {
        font-weight: 600;
    }
}

#social-links {

    @include display(flex);
    @include align-items(center);

    @include media($small-screen-down) {
        @include span-columns($grid-columns);
        @include justify-content(center);
        text-align: center;
    }
    @include media($medium-screen-up) {
        @include span-columns($two-thirds-grid-columns);
        @include justify-content(flex-end);
        text-align: right;
    }

    @each $social-network in $social-networks {
        .#{$social-network}-link {
            @include size($social-link-icon-size);
            @include display(inline-block);
            @include retina-image(/icons/social/#{$social-network}, $social-link-icon-size);
        }
    }
}

#footer-divider {

    @include media($small-screen-down) {
        @include span-columns($grid-columns);
        border-bottom: $divider-border;
        margin-top: $divider-vertical-margin;
        margin-bottom: $divider-vertical-margin;
    }
    @include media($medium-screen-up) {
        display: none;
    }
}