
header {

  @include span-columns(12);

  #logo {
    
    @include media($medium-screen) {
      @include span-columns(5);
      float: left;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $dark-gray;
      font-family: $logo-font-family;
      font-size: 42px;
      font-weight: 400;      
      letter-spacing: 10px;
    }
  }

  #menu {
    
    @include media($medium-screen) {
      @include span-columns(7);
      float: right;
      text-align: right;
    }

    ul {
      line-height: 1.5em;
      margin: 0 0 1em 0;
      padding: 0;
      
      @include media($medium-screen) {
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0;
      }
    }

    ul li {
      list-style: none;
      padding-right: 1em;

      @include media($medium-screen) {
        display: inline;
      }
    }

    ul li a {
      text-decoration: none;
      text-transform: uppercase;
      font-family: $menu-font-family;  
      color: $medium-gray;
      font-size: 20px;
      font-weight: 400;

      &.active,
      &:focus,
      &:hover {
        color: $dark-gray;
      }
    }
  }
}