
header {

    @include span-columns($grid-columns);
    @include media($medium-screen-up) {
        @include row(table);
    }
    margin: 0;
}

#logo {

    @include media($medium-screen-up) {
        @include span-columns($half-grid-columns);
        margin-top: 0;
        margin-bottom: 0;
    }
    @include media($small-screen-down) {
        @include span-columns($grid-columns);
        margin-top: $divider-vertical-margin;
        margin-bottom: 0;
    }

    a {
        @include display(flex);
        @include align-items(center);

        @include media($small-screen-down) {
            @include justify-content(center);
        }
        @include media($medium-screen-up) {
            height: $header-height;
            @include justify-content(flex-start);
        }

        text-decoration: none;
        text-transform: uppercase;
        font-family: $logo-font-family;
        font-size: $logo-font-size;
        font-weight: $logo-font-weight;

        letter-spacing: $logo-letter-spacing;
        @include media($large-screen-up) {
            letter-spacing: $logo-letter-spacing * 1.5;
        }

        color: $logo-font-color;
        &:focus,
        &:hover {
            color: lighten($logo-font-color, 15%);
        }
    }
}

#menu {

    @include media($medium-screen-up) {
        @include span-columns($half-grid-columns);
    }
    @include media($small-screen-down) {
        @include span-columns($grid-columns);
    }

    ul {
        @include media($medium-screen-up) {
            height: $header-height;

            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-end);
        }
    }

    li {
        list-style: none;

        @include media($small-screen-down) {
            @include display(flex);
            @include justify-content(center);
        }

        @include media($medium-screen-up) {
            display: inline;
            padding-right: em(15);
            &:last-child {
                padding-right: 0;
            }
            @include media($large-screen-up) {
                padding-right: em(30);
            }
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $menu-font-family;    
        font-weight: $menu-font-weight;

        font-size: $menu-font-size;
        @include media($small-screen-down) {
            font-size: $menu-font-size * 1.2;
        }

        color: $inactive-menu-font-color;
        
        &.active,
        &:focus,
        &:hover {
            color: $active-menu-font-color;
        }
    }
}

.menu-divider {

    @include media($small-screen-down) {
        @include span-columns($grid-columns);
        border-bottom: $divider-border;
        margin-top: $divider-vertical-margin;
        margin-bottom: $divider-vertical-margin;
    }
    @include media($medium-screen-up) {
        display: none;
    }
}