
header {

    @include span-columns(12);
    @include media($medium-screen-up) {
        @include row(table);
    }

    &, #logo, #menu, ul {
        margin: 0;
        padding: 0;
        border: 0;
    }
}


#logo {

    @include media($medium-screen-up) {
        @include span-columns(6 of 12);
    }

    @include media($mobile-screen-down) {
        @include display(flex);
        @include justify-content(center);
        @include align-items(center);
    }

    a {
        @include media($medium-screen-up) {
            height: $header-height;

            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-start);
        }

        text-decoration: none;
        text-transform: uppercase;
        font-family: $logo-font-family;
        font-size: $logo-font-size;
        font-weight: $logo-font-weight;
        letter-spacing: 10px;
        color: $logo-font-color;

        &:focus,
        &:hover {
            color: lighten($logo-font-color, 15%);
        }
    }
}


#menu {

    @include media($medium-screen-up) {
        @include span-columns(6 of 12);
    }

    ul {
        @include media($medium-screen-up) {
            height: $header-height;

            @include display(flex);
            @include align-items(center);
            @include justify-content(flex-end);
        }

        li {
            list-style: none;

            @include media($mobile-screen-down) {
                @include display(flex);
                @include justify-content(center);
            }

            @include media($medium-screen-up) {
                display: inline;
                padding-right: 30px;
            }

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-family: $menu-font-family;    
                color: $inactive-menu-font-color;
                font-size: $menu-font-size;
                font-weight: $menu-font-weight;

                &.active,
                &:focus,
                &:hover {
                    color: $active-menu-font-color;
                }
            }
        }
    }
}

.menu-divider {
    @include media($mobile-screen-down) {
        border-bottom: $divider;
        margin-top: $divider-vertical-margin;
        margin-bottom: $divider-vertical-margin;
    }
    @include media($medium-screen-up) {
        display: none;
    }
}