@import "base/base";

@import "partials/header";
@import "partials/footer";

$half-grid-columns: $grid-columns/2;

body {
    background-color: $base-background-color;
    @include media($medium-screen-up) {
        padding-left: 30px;
        padding-right: 30px;
    }
    @include media($small-screen-down) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.container {
    @include outer-container;
}

.block {
    display: block;
    @include media($medium-screen-up) {
        @include span-columns($half-grid-columns);
    }
    @include media($small-screen-down) {
        @include span-columns($grid-columns);
    }
}

.page-divider {
    @include span-columns($grid-columns);
    border-bottom: $divider-border;
    margin-bottom: $divider-vertical-margin;
    margin-top: $divider-vertical-margin;
}

.header-divider {
    @extend .page-divider;
    @include media($medium-screen-up) {
        margin-top: 0;
    }
}

.footer-divider {
    @extend .page-divider;
}