@import "base/base";

@import "partials/header";
@import "partials/footer";


body {
    background-color: $base-background-color;
    padding-left: 5px;
    padding-right: 5px;

    @include media($medium-screen-up) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.container {
    @include outer-container;
}

.block {
    display: block;
    @include fill-parent();

    margin-top: 4 * $block-vertical-margin;
    &:first-child {
        margin-top: $block-vertical-margin
    }

    margin-bottom: $block-vertical-margin;

    @include media($medium-screen-up) {
        @include span-columns($half-grid-columns);

        padding-right: 20px;
        &:last-child {
            padding-right: 0px;
        }

        margin-top: $block-vertical-margin;
    }
}

.page-divider {
    @include fill-parent();
    border-bottom: $divider-border;
    margin-bottom: $divider-vertical-margin;
    margin-top: $divider-vertical-margin;
}

.header-divider {
    @extend .page-divider;
    @include media($medium-screen-up) {
        margin-top: 0;
    }
}

.footer-divider {
    @extend .page-divider;
}