@import "partials/header";
@import "partials/footer";

.container {
    @include outer-container;
    max-width: 780px;
    position: relative;
}

.page-divider {
	@include span-columns(12);
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	margin-top: 20px;
}