<!doctype html>
<html>
<head>
    {% include meta.html %}
    {% include fonts.html %}

    <title>Felipe Dornelas</title>

    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>

<body>  
    <div class="container">
        {% include header.html %}

        <hr class="header-divider">

        <section>
            <article>
                {{ content }}
            </article>
        </section>

        <hr class="footer-divider">

        {% include footer.html %}
    </div>
</body>
</html>