<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }} | Felipe Dornelas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>

<body>  
    <div class="container">
        {% include header.html %}

        <div class="page-divider"></div>

        <section id="main">
            <article class="container">
                {{ content }}
            </article>
        </section>

        <div class="page-divider"></div>

        {% include footer.html %}
    </div>
</body>
</html>