
// Layout
$header-height: 120px;

// Typography
$base-font-family: "Source Sans Pro", $helvetica;
$heading-font-family: "Oswald", $helvetica;
$logo-font-family: "Oswald", $helvetica;
$menu-font-family: $logo-font-family;
$monospace-font-family: "Source Code Pro", $monospace;
$form-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1.1em;
$base-font-weight: 300;
$form-font-size: 1em;
$form-font-weight: 400;
$heading-font-size: 1.2em;
$heading-font-weight: 400;
$heading-letter-spacing: 0.15em;
$logo-font-size: 2.0em;
$logo-font-weight: 400;
$logo-letter-spacing: 0.125em;
$menu-font-size: 1.5em;
$menu-font-weight: 400;
$menu-letter-spacing: 0.08em;

// Line Height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Colors
$white: #fcfcfc;
$dark-gray: #222222;
$medium-gray: #888888;
$light-gray: #dddddd;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$logo-font-color: $dark-gray;
$inactive-menu-font-color: $medium-gray;
$active-menu-font-color: $dark-gray;

// Button Colors
$action-color: $dark-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Block
$block-vertical-margin: 10px;

// Horizontal Lines
$divider-border: 1px dotted $base-border-color;
$divider-vertical-margin: 20px;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Social Links
$social-networks: github linkedin twitter soundcloud instagram;
$social-link-icon-size: 48px 48px;
